*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

.body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: Josefin Sans, sans-serif;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.header__alert{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-size: 16px;
}

.error{
    border: 2px solid #c40000;
    color: #c40000;
}

.main{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.main__add-task{
    display: flex;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-image: linear-gradient(to right, #ffffff 30%, #ebebeb) 1;
    padding: 10px 0;
}

.add-task__button{
    background-color: #3a88fe;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    margin: 0 10px;
}

.add-task__input{
    flex-grow: 1;
    height: 30px;
    border: none;
    margin-left: 10px;
    font-size: 16px;
    font-family: Josefin Sans, sans-serif;
}

.add-task__input:focus{
    outline: none;
}

.main__task-list{
    overflow-y: auto;
    margin: 20px 0;
}

.task-block{
    display: flex;
    min-height: 50px;
    margin: 5px 0;
    background-color: white;
    border-radius: 5px;
}

.task-block__mover{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 17px;
    border-right: 1px solid #ebebeb;
}

.task-block_button-style{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 15px;
}

.task-block__check-button,
.basket-buttons__restore-button{
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

.task-block__del-button{
    padding: 0 16px;
}

.task-block__task-container{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.task-container__task{
    display: flex;
    align-items: center;
    cursor: pointer;
    word-wrap: anywhere;
    flex-grow: 1;
    padding: 0 10px;
}

.task-container__task:focus{
    outline: none;
}

.task-list__pointer-separator{
    width: 70%;
    margin: 0 auto;
    border: 2px solid #3a88fe;
}

.task-block_move-state{
    position: absolute;
    border: 1px solid #3a88fe;
    height: 0;
    width: 230px;
    overflow: hidden;
}

.task-done{
    background-color: #cce8b5;
    color: #606060;
}

.footer{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.footer__basket-button,
.basket-form__close-button{
    border-bottom: 1px solid;
    border-top: 1px solid;
    box-sizing: content-box;
    height: 35px;
    padding: 10px;
    border-image: linear-gradient(to right, #ffffff, #ebebeb, #ffffff) 1;
}

.footer__basket-form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: white;
}

.basket-form__basket{
    display: flex;
    overflow: auto;
    border-bottom: 2px solid;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #ffffff 20%, #3a88fe, #ffffff 80%) 1;
    padding: 10px 0;
    color: #707070;
}

.basket-form__basket::before{
    content: "";
    line-height: 0;
    margin-top: auto;
}

.basket__input,
.basket-interface__all-checker{
    margin: 10px 15px;
}

.basket__label{
    display: flex;
    align-items: center;
    word-break: break-word;
    padding: 9px 0;
}

.basket__label:not(:last-child){
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #ffffff 10%, #ebebeb, #ffffff 90%) 1;
}

.basket-form__basket-interface{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 50px;
    margin: 10px 0;
}

.basket-interface__label{
    flex-grow: 1;
}

.basket-interface__basket-buttons{
    display: flex;
    height: 40px;
}

.basket-form__basket{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.footer__context-menu {
    z-index: 20;
    position: absolute;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    top: 0;
    left: 0;
    background-color: white;
}

.context-menu__list{
    list-style: none;
    margin: 0;
    padding: 0 7px;
}

.list__item_style{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
}

.list__item_style:not(:last-child){
    border-bottom: 1px solid #ebebeb;
}

.list__item_style:hover{
    color: #3a88fe;
}

.hidden{
    display: none;
}

.edited{
    border: 2px solid #3a88fe;
    z-index: 20;
}

.modal-window {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media only screen and (orientation: portrait) and (max-width: 430px) {
    .body,
    .footer__basket-form{
        width: 100%;
    }
}

@media (min-width: 431px) {
    .body{
        width: 430px;
        justify-content: center;
    }

    .footer__basket-form{
        width: 430px;
    }
}
